<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="appName" value="App.WebDataReader" />

  <targets>
    <target name="logfileError"  xsi:type="File"
            fileName="${specialfolder:ApplicationData}\${appName}\${shortdate}_error.txt"
            layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Additional Info: ${message}${newline}
Call Site: ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}"
    />
    <target name="logfileworkflow"  xsi:type="File"
            fileName="${specialfolder:ApplicationData}\${appName}\log_workflow.txt"
            keepFileOpen="false"
            archiveFileName="${specialfolder:ApplicationData}\${appName}\Debug_${shortdate}.{##}.txt"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="3" />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" maxlevel="Info" writeTo="logfileworkflow" />
    <logger name="*" minlevel="Warn"  writeTo="logfileError" />
  </rules>
</nlog>
